{{FrontSide}}

<hr id="answer">

<div class="romanization">{{Romanization}}</div>
<div class="japanese">{{Japanese}}</div>
<div class="part-of-speech">{{PartOfSpeech}}</div>

{{#ExampleKorean}}
<div class="example-block">
  <div class="example-korean">{{ExampleKorean}}</div>

  {{tts ko_KR:ExampleKorean}}

  <div class="example-romanization">{{ExampleRomanization}}</div>
  <div class="example-japanese">{{ExampleJapanese}}</div>
</div>
{{/ExampleKorean}}

{{#Source}}
<div class="source">{{Source}}</div>
{{/Source}}
